[submodule "eiquadprog"]
	path = third_party/eiquadprog/repo
	url = git@gitlab.sdust-tech.com:opensource/eiquadprog.git
[submodule "qpOASES"]
	path = third_party/qpOASES/repo
	url = git@gitlab.sdust-tech.com:opensource/qpoases.git
