[submodule "eiquadprog"]
	path = third_party/eiquadprog/repo
	url = https://gitee.com/stardust-tech/eiquadprog.git
[submodule "qpOASES"]
	path = third_party/qpOASES/repo
	url = https://gitee.com/stardust-tech/qpOASES.git
